<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- include jQuery + angular -->
    <!-- include app.js -->
  </head>
  <body>
    <h1><%= title %></h1>
    <p>
      Thank you for choosing to use the TMNT API! Documentation may be found <a href='https://github.com/ga-chicago/tdd_tmnt_api'>here</a>.
    </p>
  </body>
</html>
